{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Main profile page -->

{% block title %}Chirper | {{ current_user.username }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='user/profile_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{ url_for('static', filename='img/profile/' + user.picture) }}" class="img-responsive"
                        alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ user.username }}
                    </div>
                    <!-- NO TITLES NEEDED
                    <div class="profile-usertitle-job">
                        Developer
                    </div> -->
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <!-- WE DON'T HAVE FOLLOW/DM SYSTEM (YET) -->
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('user.follow', user_id=user.id) }}" class="btn btn-success btn-sm">Follow</a>
                    {% else %}
                    <a href="{{ url_for('user.unfollow', user_id=user.id) }}" class="btn btn-danger btn-sm">Unfollow</a>
                    {% endif %}
                    <!-- <button type="button" class="btn btn-danger btn-sm">Message</button> -->
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        {% block active_bar%}
                        <li class="active">
                            <a href="{{ url_for('user.profile', user_id=user.id) }}">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        {% if current_user.id == user.id %}
                        <li>
                            <a href="{{ url_for('user.settings', user_id=user.id) }}">
                                <i class="glyphicon glyphicon-cog"></i>
                                Account Settings </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('user.liked', user_id=user.id) }}">
                                <i class="glyphicon glyphicon-heart"></i>
                                Liked </a>
                        </li>
                        <li>
                            <a href="{{ url_for('user.comments', user_id=user.id) }}">
                                <i class="glyphicon glyphicon-comment"></i>
                                Comments </a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <!-- <strong>Title</strong> --> {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% block user_content %}
                <div class="comment-section" id="Comments">
                    <label>Posts</label>
                    <div class="actionBox">
                        <ul class="commentList">
                            {% for post in posts %}
                            <li id="c{{ post.id | b64 }}">
                                <div class="commenterImage">
                                    <!-- Use commenter image when profiles are added -->
                                    <img src="{{ url_for('static', filename='img/profile/' + user.picture) }}" />
                                </div>
                                <div class="commentText">
                                    <p class="">
                                        {{ post.body }}
                                    </p>
                                    <span class="date sub-text">
                                        on {{ post.created }}
                                        &nbsp;&nbsp;
                                        by {{ user.username }}
                                    </span>
                                    <br>
                                    <span class="sub-text">
                                        {% if current_user.has_liked_post(post) %}
                                        <a
                                            href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}#c{{ post.id | b64 }}">
                                            <span class="glyphicon glyphicon-heart"></span>
                                        </a>
                                        {% else %}
                                        <a
                                            href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}#c{{ post.id | b64 }}">
                                            <span class="glyphicon glyphicon-heart-empty"></span>
                                        </a>
                                        {% endif %}
                                        {{ post.likes.count() }} Likes
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{ url_for('posts.post_page', id=post.id) }}#Comments">
                                            <span class="glyphicon glyphicon glyphicon-comment"></span>
                                        </a>
                                        {{ post.comments.count() }} Comments
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        {% if current_user.id == post.author_id %}
                                        <a aria-hidden="true"
                                            href="{{ url_for('posts.edit', id=post.id, next=request.path) }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <hr class="dotted">
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}