{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Chirper | {{ current_user.username }}{% endblock %}

{% block content %}
<div class="container">
    <div>
        Id: {{ user.id }}<br>
        Username: {{ user.username }}<br>
        Password Hash: {{ user.password }}<br>
        Email: {{ user.email }}<br>
        <hr>
        <form class="form-upload" enctype="multipart/form-data" method="post" name="upload">
            <h2 class="form-upload-heading">Upload a Photo!</h2>
            {{ upload_form.hidden_tag() }}
            {{ wtf.form_field(upload_form.upload) }}
            {{ wtf.form_field(upload_form.submit, class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}