{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Chirper | {{ current_user.username }}{% endblock %}

{% block content %}
<div class="container">
    <div>
        Id: {{ user.id }}<br>
        Username: {{ user.username }}<br>
        Password Hash: {{ user.password }}<br>
        Email: {{ user.email }}<br>
    </div>

    {% for post in posts %}
    <article class="post">
        <a href="{{ url_for('posts.post_page', id=post.id, next=request.path)}}">
            <header id="{{ post.id }}">
                <div>
                    <h1>{{ post.title }}</h1>
                </div>
            </header>
            <p class="body">{{ post.body }}</p>
        </a>
        <div class="row-fluid">
            {% if current_user.has_liked_post(post) %}
            <a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}#{{ post.id }}">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            {% else %}
            <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}#{{ post.id }}">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </a>
            {% endif %}
            {{ post.likes.count() }} Likes
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('posts.post_page', id=post.id) }}#Comments">
                <span class="glyphicon glyphicon glyphicon-comment"></span>
            </a>
            {{ post.comments.count() }} Comments
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if current_user.id == post.author_id %}
            <a aria-hidden="true" href="{{ url_for('posts.edit', id=post.id, next=request.path) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {% endif %}
            <b>by {{ post.author_name.username }}</b>
        </div>

    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}