{% extends "user/profile.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- This will display one of 4 different views for user data
by extending the profile page and modifying the user_content block -->

{% block active_bar%}
<li>
    <a href="{{ url_for('user.profile', user_id=user.id) }}">
        <i class="glyphicon glyphicon-home"></i>
        Overview </a>
</li>
{% if current_user.id == user.id %}
<li class="active">
    <a href="{{ url_for('user.settings', user_id=user.id) }}">
        <i class="glyphicon glyphicon-cog"></i>
        Account Settings </a>
</li>
{% endif %}
<li>
    <a href="{{ url_for('user.liked', user_id=user.id) }}">
        <i class="glyphicon glyphicon-heart"></i>
        Liked </a>
</li>
<li>
    <a href="{{ url_for('user.comments', user_id=user.id) }}">
        <i class="glyphicon glyphicon-comment"></i>
        Comments </a>
</li>
{% endblock %}

{% block user_content %}
<form class="form-signin" action="settings" method="post" name="settings" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.picture)}}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password_new) }}
    {{ wtf.form_field(form.password_old) }}
    {{ wtf.form_field(form.submit, class="btn btn-primary") }}
</form>
{% endblock %}