:root {
  --palette-white: #ffffff;
  --palette-black: #262626;
  --palette-orange: #FF7F11;
  --palette-red: #FF1B1C;
  --palette-pink: #EE4266;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

span {
  text-decoration: none;
}

h1 {
  color: var(--palette-black);
}

.glyphicon {
  font-size: larger;
  color: var(--palette-orange);
}

a:any-link {
  text-decoration: none;
}