:root {
    --palette-white: #ffffff;
    --palette-black: #262626;
    --palette-orange: #FF7F11;
    --palette-red: #FF1B1C;
    --palette-pink: #EE4266;
    --palette-logo-red: #f03030;
    --palette-logo-orange: #f06330;
  }

.welcome-margin {
    margin: 20px 0;
  }
  
  .welcome-splash img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .welcome-title {
    text-align: center;
    margin-top: 20px;
  }
  
  .welcome-title-main {
    color: var(--palette-logo-orange);
    font-size: 72px;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .welcome-title-sub {
    text-transform: uppercase;
    color: var(--palette-black);
    font-size: 18px;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
  }