{% extends "bootstrap/base.html" %}

{% block title %}Chirper | {{ current_user.username }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
{% endblock %}

{% block navbar %}
{{ nav.chirper_navbar.render(renderer='custom') }}
{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    {% for post in posts %}
    <article class="post">
        <header>
            <div>
                <h1>{{ post.title }}</h1>
            </div>
        </header>
        <p class="body">{{ post.body }}</p>
        {% if current_user.id == post.author_id %}
        <div class="row-fluid">
            <a class="glyphicon glyphicon-pencil" aria-hidden="true" href="{{ url_for('posts.edit', id=post.id) }}"></a>
        </div>
        {% endif %}

    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}