{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/static/favicon/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Chirper">
<meta name="application-name" content="Chirper">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
<meta name="theme-color" content="#2c2c2c">
{% endblock %}

{% block title %}Chirper | {{ current_user.username }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{{ nav.chirper_navbar.render(renderer='custom') }}
{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <hr class="solid">

    {% for post in posts %}
    <article class="post">
        <a href="{{ url_for('posts.post_page', id=post.id, next=request.path)}}">
            <header id="{{ post.id }}">
                <div>
                    <h1>{{ post.title }}</h1>
                </div>
            </header>
            <p class="body">{{ post.body }}</p>
        </a>
        <div class="row-fluid">
            {% if current_user.has_liked_post(post) %}
            <a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}#{{ post.id }}">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            {% else %}
            <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}#{{ post.id }}">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </a>
            {% endif %}
            {{ post.likes.count() }} Likes
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('posts.post_page', id=post.id) }}#Comments">
                <span class="glyphicon glyphicon glyphicon-comment"></span>
            </a>
            {{ post.comments.count() }} Comments
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if current_user.id == post.author_id %}
            <a aria-hidden="true" href="{{ url_for('posts.edit', id=post.id, next=request.path) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {% endif %}
            <b>by {{ post.author_name.username }}</b>
        </div>

    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}