{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Chirper | Register{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/signin.css') }}">
{% endblock %}

{% block content %}
<div class="container">

  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
    <!-- <strong>Title</strong> --> {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form class="form-signin" action="register" method="post" name="register">
    <h2 class="form-signin-heading">Register</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.submit, class="btn btn-primary") }}
  </form>
</div>
{% endblock %}