{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Chirper | Post{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <hr class="solid">

    <article>
        <header>
            <h1>{{ post.title }}</h1>
            <b>
                by
                <a aria-hidden="true" href="{{ url_for('user.profile', user_id=post.author_id) }}">
                    {{ post.author_name.username }}
                </a>
            </b>
        </header>
        <hr>
        <p class="body">
            {{ post.body }}
        </p>

        <div class="row-fluid">
            {% if current_user.has_liked_post(post) %}
            <a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            {% else %}
            <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </a>
            {% endif %}

            {{ post.likes.count() }} Likes
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('posts.post_page', id=post.id) }}#Comments">
                <span class="glyphicon glyphicon glyphicon-comment"></span>
            </a>
            {{ post.comments.count() }} Comments
            {% if current_user.id == post.author_id %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a aria-hidden="true" href="{{ url_for('posts.edit', id=post.id, next=request.path) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {% endif %}
        </div>
        <hr>
    </article>
    <div class="comment-section" id="Comments">
        <label>Comments</label>
        <div class="commentBox">
            <form action="{{ post.id | b64 }}" method="post" name="comment" class="form-inline" role="form">
                <div class="form-group">
                    {{ comment_form.hidden_tag() }}
                    {{ comment_form.body(class_="form-control") }}
                </div>
                <br>
                <div class="form-group">
                    {{ wtf.form_field(comment_form.submit, class="btn btn-warning") }}
                </div>
            </form>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                {% for comment in comments %}
                <li id="c{{ comment.id | b64 }}">
                    <div class="commenterImage">
                        <!-- Use commenter image when profiles are added -->
                        <img src=" {{url_for('static', filename='img/50.jpg')}} " />
                    </div>
                    <div class="commentText">
                        <p class="">
                            {{ comment.body }}
                        </p>
                        <span class="date sub-text">
                            on {{ comment.created }}
                            &nbsp;&nbsp;
                            by
                            <a aria-hidden="true" href="{{ url_for('user.profile', user_id=comment.author_id) }}">
                                {{ comment.author_name.username }}
                            </a>
                        </span>
                        <br>
                        <span class="sub-text">
                            {% if current_user.has_liked_comment(comment) %}
                            <a
                                href="{{ url_for('posts.like_comment', id=comment.id, action='unlike') }}#c{{ comment.id | b64 }}">
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                            {% else %}
                            <a
                                href="{{ url_for('posts.like_comment', id=comment.id, action='like') }}#c{{ comment.id | b64 }}">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                            {% endif %}
                            {{ comment.likes.count() }} Likes
                            &nbsp;&nbsp;
                            {% if current_user.id == comment.author_id %}
                            <a href="{{ url_for('posts.delete_comment', id=comment.id) }}">
                                <span class="glyphicon glyphicon glyphicon-remove"></span>
                            </a>
                            Delete
                            {% endif %}
                        </span>
                    </div>
                </li>
                <hr class="dotted">
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}